*,body{
    padding: 0;
    margin: 0;
}

input{
    width:21.5vw;
}

#container{
    box-sizing: border-box;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 #encryptForm,#decryptForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin-bottom: 2vh;
}

#Form_container{
    width: 40vw;
}

#encrypt_btn,#decrpt-btn{
    margin-top: 1vh;
    flex-grow:10;
}

#message_placeholder{
    width: 50vw;
    padding-left: 10vw;
    display: flex;
    flex-direction: row;
}