*,body{
    padding: 0;
    margin: 0;
    color: #000000d9;
    font-size: 14px;
    font-family:Arial;
    background: #fff;
    user-select: none;
}
body svg{
    vertical-align: middle;
}

button{
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px #00000004;
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    color: #fff;
    border-color: #1890ff;
    background: #1890ff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px #0000000b;
    margin-left: 14px;
}

button:hover,button:focus{
    color: #fff;
    border-color: #40a9ff;
    background: #40a9ff;
}

input{
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: #000000d9;
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all .3s;
    width:21.5vw;
    overflow: visible;
    font-family: inherit;
}
input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
    width: 16px;
    height: 16px;
    margin-right: 2vw;
}

input:hover{
    border-color: #40a9ff;
    border-right-width: 1px;
}

input:focus{
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px  rgba(24, 144, 255, .2);
    border-right-width: 1px;
    outline: 0;
}

li{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 8vh;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    height:8vh;
    color: #000000d9;
    border-bottom: 1px solid rgba(0,0,0,.06);
    text-align: center;
    transition: all 0.3 ease 0;
}

a{
    width: 100%;
    height: 100%;
    line-height: inherit;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #1890ff;
}


#container{
    box-sizing: border-box;
}

#register_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
#home_container{
    display: none;
    width: 100vw;
    height: 100vh;
}
#home_maincontainer{
    display: flex;
    height: 100vh;
}


#id_box{
   height: 6vh;
   line-height: 6vh;
   text-align: center;
}

.id_icon{
   margin-right: 1vw;
}

.icon_span{
   position:absolute;
   left:2vw;
   vertical-align:center;
}

#nikename{
   color: #40a9ff;
}

#main_menu{ 
    width: 20vw;
    display: flex;
    flex-direction: column;
    border-right:1px solid #d9d9d9;
}

.menu_li_selected{
    background-color: #e6f7ff;
    color: #1890ff;
    border-right: 3px solid #40a9ff;
}

.menu_li_selected span svg{
   fill:#1890ff;
}

#contact_people{
    height: 6vh;
    line-height: 6vh;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    cursor: pointer;
}

#up_icon{
    position: absolute;
    left:17vw;
}

#down_icon{
    position: absolute;
    left:17vw;
}

#contact_people_checkbox{
    margin-left:2vw ;
    border-left: 1px solid #d9d9d9;
    overflow-y: scroll;
}

#contact_people_checkbox::-webkit-scrollbar{
    width: 4px;
    height: 1px;
}

#contact_people_checkbox::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #40a9ff;
}

#contact_people_empty{
    height: 50vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkbox_li{
    height: 5vh;
    line-height: 5vh;
    padding-left: 4vw;
    text-align: left;
}

#crypto_container,#dB_containner,#accept_list_container{
    display: none;
}

#crypto_container:target{
    width:80vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu{
    width:40vw;
    height: 4vh;
    line-height: 4vh;
    background-color:#1890ff;
    text-align: center;
    color: #e6f7ff;
    border:1px solid #1890ff;
    border-radius: 5px 5px 0 0;
}
 #encryptForm,#decryptForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin-bottom: 2vh;
    border: 1px solid #d9d9d9;
    padding-bottom: 2vh;
}

#selected_files,#selected_file,#pem_file{
    color:#40a9ff;
    width: 35vw;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}

#input_container{
    width: 35vw;
    margin-top: 0.5vh;
}

#encryptFile,#priv_pem_file,#decryptFile{
    display: none;
}

#encryptFile_btn,#priv_pem_file_btn,#decryptFile_btn{
   margin-left: 3vw;
   background-color: #fff;
   border: 1px solid #d9d9d9;
   color: #000000d9;
}

#encryptFile_btn:hover,#priv_pem_file_btn:hover,#decryptFile_btn:hover{
    border: 1px solid #40a9ff;
    color: #40a9ff;
 }

 #encryptFile_btn:hover svg,#priv_pem_file_btn:hover svg,#decryptFile_btn:hover svg{
    fill: #40a9ff;
 }


#encrypt_btn,#decrypt-btn{
    margin-top: 1vh;
}

#contact_placeholder{
    color: #1890ff;
    width: 35vw;
}

.asterisk{
    margin-right: 1vw;
}

#message_placeholder{
    width: 50vw;
    padding-left: 10vw;
    display: flex;
    flex-direction: row;
}

#dB_containner:target{
    width:80vw;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#db_pass_page{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#db_pass_page span{
    color: #1890ff;
}

#db_pw_btn{
    margin-top: 3vh;
}

#table_header{
    width: 100%;
    height: 5vh;
    line-height: 5vh;
    border-bottom:1px solid #d9d9d9;
    text-align: center;
}
#table_empty_containner,#accept_empty_containner{
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.list_DB{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listItem_name{
    width: 60vw;
}

#accept_list_container:target{
    width:80vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#accept_list_header{
    display: flex;
    width: 100%;
    height: 5vh;
    line-height: 5vh;
    flex-direction: row;
    border-bottom:1px solid #d9d9d9;
    text-align: center;
    
}
.sender_label{
    width: 15vw;
    border-right: 1px solid #d9d9d9;
}
.filename_label{
    width: 40vw;
    border-right: 1px solid #d9d9d9;
}
.operation_label{
    width: 25vw;
}

.accept_li{
    display: flex;
    flex-direction: row;
}

.accept_li_sender{
   width: 15vw;
}

.accept_li_filename{
  width: 40vw;
} 

.accept_li_operation{
    width: 25vw;
}
